body {
    background-color: beige;
}

h3, label, p {
    color: sienna;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: darkmagenta;
    font-size: 20px;
}

#camera {
    width: 360px;
    height: 250px;
    border: 1px solid grey;
    margin: 0 auto;
}

#logo_img {
    width: 100px;
    border-radius: 20px;
}

#fonte {
    font-family: 'Skranji', cursive;
    font-size: 40px;
    color: brown;
}

#textbox {
    width: 300px;
    margin: 0 auto;
}
